{% include "header.html" %}

<body>
    <input name="id" type="hidden">{{ well.id }}</input>
        <tbody>
            {% for well in wells %}
            <tr>
                <td><a href="/wells/edit?id={{ well.id }}">Edit</a></td>
                <td>{{ well.dep_well_id }}</td>
                <td>{{ well.owner_name }}</td>
                <td>{{ well.well_street_1 }} {{ well.well_street_2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% include "footer.html" %}
